body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {

    height: 100%;
    color: rgb(3, 3, 3);
    line-height: 1.8;

}

.display-middle {
    color: white;
    /* margin: 10%; */
    font-size: 30px;
    background-color: rgba(0, 0, 0, .5);
    display: inline-block;



}
.display-middle-noBG {
    color: white;
    /* margin: 10%; */
    font-size: 30px;
    display: inline-block;



}

.responsive_image {
    width: 100%;
    max-width: 1050px;
    height: auto;
    margin: auto;
    /* padding: 20px; */
    /* display: block; */
}
.skinny {
    width: 50%;
}

.tech_logo {
    width: 800px;
    margin-bottom: -20%;
    transform: translate(10%, 0%)
}

.margin-top {

    margin-top: 20%;

}

.mid {
    transform: translate(-50%, -50%);
    top:50%;left:50%;
}

#large {
    font-size: 100px;
}

.center {

    text-align: center;

}

body {
    align-content: center;
    background-color: rgb(3, 3, 3);
    width: 100%;
}


#left {
    float: left;
    margin-right: 10%;
    align-content: center;
}

#aboutMe {
    width: xpx;
 margin: 0 auto;


}
p {
    color: rgb(242, 243, 227);
    background-color: black;
    font-size: 20px;
}

#textCenter {
    text-align: center;
}

#moreRound {

    border-radius: 50%;
    border-color: rgb(88, 88, 88);
}


#socialLink {
    text-decoration: none;
}

#sendBtn {
    align-self: center;
}

#googMap {

    transform: translate(20%, 0%);
}
/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;

    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}
/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('/image/logo-backing.png');
    min-height: 100%;
    min-width: 100%;
    background-position: center 10%;

}

span {
    text-align: center;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("/image/bird.JPG");
    min-height: 400px;
    background-position: center;;
}

iframe {
    position: center;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("/image/rocks.JPG");
    min-height: 400px;
    background-position: center;
}

.wide {letter-spacing: 10px;}
.hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}